<!DOCTYPE html>
<html>
  <head>
    <title>SimpleLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "Simple Log", root_url, class: "navbar-item is-size-2" %>
          <div class="sub-nav mt-2">

            <div class="breadcrumb mt-5 pl-4">
              <%= content_for(:nav_breadcrumb) || render("default_breadcrumb") %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
